.startup-projects-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}
.startup-projects-main > * {
  flex: 0 50%;
  margin-bottom: 20px;
}

.project-text {
  /* border: red solid 1px; */
  width: 100%;
  padding: 2rem;
}

.project-text > p {
  text-align: justify;
}

.project-image {
  /* border: blue solid 1px; */
  width: 80%;
}
.project-image > img {
  max-width: 100%;
  height: auto;
  padding: 4%;
  cursor: pointer;
  border-radius: 5%;
}

img:hover {
  opacity: 0.6;
}
.project-text .subTitle {
  color: #868e96;
  padding-bottom: 1rem;
  cursor: pointer;
}

.project-text .subTitle:hover {
  color: #2f4e7c;
}

.languages {
  color: #868e96;
}

@media (max-width: 990px) {
  .startup-projects-main {
    display: block;
  }
  .project-image > img {
    padding: 0 4rem;
    margin: auto;
  }
  .project-subtitle {
    font-size: 16px;
    text-align: center;
  }

  @media (max-width: 600px) {
    .project-image > img {
      padding: 0;
    }
    
    }

}
