#projects {
  margin-top: 0;
}
.startup-projects-main {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
  margin: auto;
}
.startup-projects-main > * {
  flex: 0 50%;
  margin-bottom: 20px;
}

.project-text {
  width: 100%;
  padding: 2rem;

}

.project-text > p {
  text-align: justify;
}

.project-image {
  width: 100%;
  margin: auto;
}
.project-image > img {
  max-width: 100%;
  height: auto;
  padding: 4%;
  cursor: pointer;
  border-radius: 5%;
}

.project-text .subTitle {
  color: #868e96;
  padding-bottom: 1rem;
  cursor: pointer;
}

.project-text .subTitle:hover {
  color: #2f4e7c;
}

.languages {
  color: #868e96;
}

@media (max-width: 990px) {
  .startup-projects-main {
    display: block;
    width: 100%;
  }
  .project-text {
    margin-bottom: 0;
  }
  .project-image > img {
    padding: 0 4rem;
    margin: auto;
    max-width: 80%;
  }
  .project-subtitle {
    font-size: 16px;
    text-align: center;
  }

  @media (max-width: 600px) {
    .project-image > img {
      padding: 0;
    }
  }
}
